/* .services-icon img {
    width: 70px;
    height: 70px;
    border-radius: 30%;
} */
.footer-contacts ul  li a{
    text-decoration: none;
    color:#000;
}
.footer-contacts ul  li a:hover{
    text-decoration: none;
    color:#0D9948;

}
.row .team-top {
    justify-content: center;
    display: flex;
}
h2{
    color:#243E89;
}
.single-icon i:hover{
    background-color:#243E89;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}
.single-services .services-icon img{
    border-radius: 10px 10px 0 0;
}
.single-services p {
  padding: 0 20px   20px 20px;
}